<div class="center" id='fingoal'>
    <h3>{{user.name}}'s Financial Goals</h3>
    <img src={{user.pic}} class='circle responsive-img' alt={{this.name}} width='200'>
    <ul>
        {{#each financialGoals}}
        

        
             <center>  <u><h5>My Goal</u> : {{name}}</h5>

           
                <div class='center2' class='darker'>
                    <p>
                        <span>Goal Amount:</span>{{goalAmount}}</p>
                    <p>Current Amount: {{currentAmount}}</p>

                    <p>Due Date: {{dueDate}}</p>
                   
                        <p>Comments:{{#each comment}}</p>
                        <li class=''>{{body}}
                            <p>Posted on: {{date}}</p>
                 


                    </li>
               
        </li> {{/each}}</p>
        </center> 
        <form action='/users/{{../user._id}}/finGoals/{{_id}}?_method=DELETE' method='POST'>
            <button class='but' type='submit'>Remove Goal</button>
            </a>
        </form>
        <a href="/users/{{../user._id}}/finGoals/{{_id}}/comment/new">
            <button class='but'>Add comment</button>
        </a>
        {{/each}}
    </ul>

</div>
    <a href="finGoals/new">
        <button>Add new Financial Goal</button>
    </a>
    <a href="/users/{{user._id}}">
        <button>Go Back</button>
    </a>
</div>