
<div class="container" id='fingoal'>
<h1>{{user.name}}'s Financial Goals</h1>
<img src={{this.pic}} class ='circle responsive-img' alt={{this.name}} width='200'>
<ul>
    {{#each financialGoals}}
    <li>
        
        <u><h5>{{name}}</h5></u>
        <p>{{goalAmount}} : {{currentAmount}}</p>

        <p>Due Date: {{dueDate}}</p>
        
        <p>Comments:{{#each comment}}
            <li class=''>{{body}}
                <p>Posted on: {{date}}</p>
            </li> {{/each}}</p>

        </a>
    </li>
    <form action='/users/{{../user._id}}/finGoals/{{_id}}?_method=DELETE' method='POST'>
        <button type='submit'>Remove Goal</button>
        </a>
    </form>
    <a href="/users/{{../user._id}}/finGoals/{{_id}}/comment/new">
        <button>Add comment</button>
    </a>
    {{/each}}
</ul>


<a href="finGoals/new">
    <button>Add new Financial Goal</button>
</a>
</div>