<h1>{{user.name}}'s Financial Goals</h1>
{{goals}}
<ul>
    {{#each goals}}
    <li>
        <h2>{{name}}</h2>
        <p>{{goalAmount}} : {{currentAmount}}</p>
        
        <p>{{dueDate}}</p>
        <p>{{comment}}</p>
       
        </a>
    </li>
    {{/each}}
</ul>

<a href="finGoals/new"><button>Add new Financial Goal</button></a>