<h1>{{user.name}}'s Budget</h1>
{{budget}}
<ul>
    {{#each budget}}
    <li>
        <h2>{{budgetName.name}}</h2>
        <p>{{expenses.name}}</p>
        <p>{{expenses.amount}}</p>
        <p>{{income.amount}}</p>
        <p>{{income.type}}</p>
        <p>{{income.amount}}</p>
        </a>
    </li>
    {{/each}}
</ul>


