<div class="center" id='fingoal'>
  <center> <h1>{{user.name}}'s Budget</h1>
<div class="center2">
    <ul>
        {{#each budget}}
        
            <h5>
                <u>Name of budget</u> : {{budgetName.name}}
            </h5>

            <p>Name of Expense: {{expenses.name}} : {{expenses.amount}}</p>

            <p>Income Type: {{income.incomeType}} : {{income.amount}}</p>

        
        
        <form action='/users/{{../user._id}}/budget/{{_id}}?_method=DELETE' method='POST'>
            <button type='submit'>Remove Budget</button>
            </a>

        </form>
   
    
    </ul>
    {{/each}}
    </div>
    </div>
    
    </center> 
    <a href="budget/new">
        <button>Add new budget</button>
    </a>
    <a href="/users/{{user._id}}">
        <button>Go Back</button>
    </a>


{{!--
<div class="left" id='man5'>
    <img src="/images/money.png" alt="">
</div> --}}