<h1>{{user.name}}'s Budget</h1>

<ul>
    {{#each budget}}
    <li>
        <h2>{{budgetName.name}}</h2>
        <p>{{expenses.name}} : {{expenses.amount}}</p>
        
        <p>{{income.incomeType}} : {{income.amount}}</p>
       
        </a>
    </li>
    <form action='/users/{{../user._id}}/budget/{{_id}}?_method=DELETE' method='POST'>
   <button type='submit'>Remove Budget</button></a>
    {{/each}}
    </form>
</ul>

<a href="budget/new"><button>Add new budget</button></a>


   