<h1>Edit {{showUser.name}}</h1>

<form action="/users/{{showUser._id}}?_method=PUT" method="POST">
<div>
    <label for="pic">Change profile picture</label>
    <input type="text" name="pic" value='{{showUser.pic}}'>
</div>
  <div>
    <label for="title">Update User Name</label>
    <input type="text" name="name" value='{{showUser.name}}' />
  </div>
  <div>
    <label for="email">Update Email</label>
    <input type="text" name="email" value='{{showUser.email}}' />
  </div>
  <div>
    <label for="password">Change Password</label>
    <input type="text" name="password" value='{{showUser.password}}' />
  </div>
  <div>
  <button type="submit">Update Profile</button>
</form>