<div class="center" id='create'>
<h1>Edit {{showUser.name}}</h1>

<form action="/users/{{showUser._id}}?_method=PUT" method="POST">
<div>
   <p>Change profile picture</p> <input type="text" name="pic" value='{{showUser.pic}}'>
</div>
  <div>
  
   <p>Update User Name</p> <input type="text" name="name" value='{{showUser.name}}' />
  </div>
  <div>
   <p>Update Email</p>
    <input type="text" name="email" value='{{showUser.email}}' />
  </div>
  <div>
<p>Update Password</p>
    <input type="password" name="password" value='{{showUser.password}}' />
  </div>



  
  </div>
    <center>
  <button id='movedown' class="btn waves-effect waves-light" type="submit" name="action">Update Profile
     <i class="material-icons right">send</i>
  </button>
</center>
</form>
  </div>