
<h1>All Users</h1>

<ul>
  {{#each users}}
  <li>
    <a href="/users/{{_id}}">
     
      <img src={{this.pic}} alt={{this.name}} width='200'>
      <p>{{name}}</p>
      <p>{{email}}</p>
    </a>
  </li>
  {{/each}}
</ul>

