
<h1>Your Household</h1>

<div class="center" id='index'>
<ul>
  {{#each users}}
  <li>
    <a href="/users/{{_id}}">
     
      <img src={{this.pic}} class ='circle responsive-img' alt={{this.name}} width='200'>
      <p>{{name}}</p>
      <p>{{email}}</p>
      
    </a>
  </li>
  {{/each}}
</ul>

</div>
 <div class="left" id='man'>
  <img src="/images/money.png" alt="">
</div>