


<div class='center' id='allusers'>
  <h4>Your Household</h4>
<div class='user'>
  {{#each users}}
  
    <a href="/users/{{_id}}">
     
      <img src={{this.pic}} class ='image' alt={{this.name}}  width='200'>
      <p>{{name}}</p>
      <p>{{email}}</p>
      
    </a>
  
  {{/each}}

</div>
</div>

 {{!-- <div class="left" id='man'>
  <img src="/images/money.png" alt="">
</div> --}}