<img src={{showUser.pic}} alt={{showUser.name}} width='200'>
<h3>Name: {{showUser.name}}</h3>
<p>Email: {{showUser.email}}</p>
 <a href="/users/{{showUser._id}}/budget">Go to Budget</a>
 <a href="/users/{{showUser._id}}/finGoals">Go to Financial Goals</a>

<form action="/users/{{showUser._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete Profile</button>
</form>


  <a href="{{showUser._id}}/edit"><button>Update User Profile</button></a>
