<div class='right' id="show">

  <body>
    <div class='body'>
     <img src={{showUser.pic}} class='pic' alt={{showUser.name}}>
      <center>
        <h3>Name: {{showUser.name}}</h3>
      </center>
      <p>Email: {{showUser.email}}</p>
      <div class="center-align" id='butt'>
        <center></center>
        <div id='butt'>
          <a href="/users/{{showUser._id}}/budget">
            <button>Go to Budget</button>
          </a>
          <a href="/users/{{showUser._id}}/finGoals">
            <button>Go to Financial Goals</button>
          </a>
          <br>

          <form action="/users/{{showUser._id}}?_method=DELETE" method="POST">
            <button class='gb' type="submit">Delete Profile</button>
          </form>


          <a href="{{showUser._id}}/edit">
            <button class='gb'>Update User Profile</button>
          </a>
        </div>
        </center>
      </div>
    </div>
  </body>
  <a href="/">
    <button>Sign Out</button>
  </a>
  <a href="/users/{{user._id}}">
    <button class='gb'>Go Back</button>
  </a>
</div>

<div class="left" id='man3'>
  <img src="/images/money.png" alt="">
</div>