<div class ='right'>
  <header class='header'>

</header>
<body>
  <div class='body'>
<img src={{showUser.pic}} class='circle responsive-img' alt={{showUser.name}}>
<h3>Name: {{showUser.name}}</h3>
<p>Email: {{showUser.email}}</p>
<div class="center-align" id='butt'>
 <a href="/users/{{showUser._id}}/budget"><button>Go to Budget</button></a>
 <a href="/users/{{showUser._id}}/finGoals"><button>Go to Financial Goals</button></a>

<form action="/users/{{showUser._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete Profile</button>
</form>


  <a href="{{showUser._id}}/edit"><button>Update User Profile</button></a>
  </div>
  </div>
  </body>
  <a href="/"><button>Sign Out</button></a>
</div>

